﻿BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana;
    MARGIN-BOTTOM: 10;	
}
H1
{
    FONT-SIZE: 13pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
H2
{
    FONT-SIZE: expression(screen.deviceXDPI > 96 ? (screen.deviceXDPI > 125 ? 8 + "pt" : 9 + "pt") : 11 + "pt");
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
.disabled_text
{
    FONT-FAMILY: Verdana;
    COLOR: #888888;
}
.page_body
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    margin-left:50px;
    margin-right:0px;
    margin-top:15px;
}
.page_title
{
    FONT-SIZE: 12pt;
    COLOR: #2f3292;
    FONT-FAMILY: Verdana;
    font-weight:600;
}
.page_title_sub
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    font-weight:500;
}
.page_description
{
    margin-top:10px;
    margin-right:70px;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
.page_content_div
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    margin-left:0px;
    margin-right:0px;
    margin-top:25px;
}
.page_subcontent_div
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    margin-left:10px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.collapsible_header_bar
{
	background-image: url('images/collapsibleHeaderBar.jpg');
	background-repeat:no-repeat;
	width: 631px;
}
.page_summary_body
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    margin-left:50px;
    margin-right:0px;
    margin-top:0px;
}
.page_summary_top_margin
{
	MARGIN-TOP: 15px;
}

.page_summary_scroll_divider
{
	MARGIN-TOP: 2px;
	border-top: #D9DCD7 1px solid;
}
.page_summary_iframe_content
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
    MARGIN-RIGHT: 0px;
}

.page_summary_subsections
{
    FONT-SIZE: 8pt;
    font-weight:600;
    COLOR: #000000;
    width:570px;
    FONT-FAMILY: Verdana;
    margin-left:0px;
    margin-right:0px;
    margin-top:8px;
    margin-bottom:10px;
}
.page_product_summary_table
{
    MARGIN-LEFT: 25px;
    MARGIN-TOP: 5px;
    MARGIN-RIGHT: 0px;
    MARGIN-BOTTOM: 5px;
}
.page_product_summary_box
{
    FONT-SIZE: 8pt;
    height: 100%;
    COLOR: #000000;
    VERTICAL-ALIGN: top;
    PADDING-LEFT: 4px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-RIGHT: #848484 2px solid;
    BORDER-TOP: #848484 2px solid;
    BORDER-LEFT: #848484 2px solid;
    BORDER-BOTTOM: #848484 2px solid;
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
}
.page_product_summary_scrollable_div
{
    width:595px;
    height:115px;
    COLOR: #000000;
    overflow: auto;
    display: block;
    position: relative;
}
.page_product_header
{
    FONT-SIZE: 10pt;
    font-weight:600;
    COLOR: #000000;
    VERTICAL-ALIGN:middle;
    PADDING-TOP:2px;
    PADDING-LEFT:0px;
    PADDING-BOTTOM:2px;
    MARGIN-LEFT: 0px;	
    MARGIN-TOP: 0px;	
    MARGIN-BOTTOM: 0px;	
}
.page_product_table
{
    FONT-SIZE: 8pt;
    width: 600px;
    height: 344px;
    COLOR: #000000;
    PADDING-LEFT:0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
}
.page_product_selection_box
{
    FONT-SIZE: 8pt;
    width: 600px;
    height: 100%;
    COLOR: #000000;
    VERTICAL-ALIGN: top;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    BORDER-RIGHT: #848484 2px solid;
    BORDER-TOP: #848484 2px solid;
    BORDER-LEFT: #848484 2px solid;
    BORDER-BOTTOM: #848484 2px solid;
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-BOTTOM: 0px;
}
.page_product_description_box
{
    FONT-SIZE: 8pt;
    width: 600px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    PADDING-RIGHT: 0px;
    BORDER-RIGHT: #848484 2px solid;
    BORDER-TOP: #848484 2px solid;
    BORDER-LEFT: #848484 2px solid;
    BORDER-BOTTOM: #848484 2px solid;
    MARGIN-TOP: 8px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-BOTTOM: 10px;

}
.page_product_description_scrollable_div
{
    FONT-SIZE: 8pt;
    height:41px;
    width:590px;
    COLOR: #000000;
    overflow: auto;
}

.page_product_description_action
{
    FONT-SIZE: 8pt;
    font-weight:600;
    COLOR: #000000;
}
.page_ifail_summary
{
	margin-top:15px;
	margin-left:25px;
	margin-right:5px;
}
.page_ifail_scroll
{
	margin-top:15px;
	margin-left:20px;
	margin-right:5px;
	height:250px;
	overflow:auto;
	border:solid thin black;
}
.page_ifail_footer
{
	margin-top:15px;
	margin-left:25px;
	margin-right:5px;
}
.page_ifail_list
{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	border:solid white;
}
.page_ifail_list_left
{
	position:absolute;
}
.page_ifail_list_right
{
	margin-left:30px;
}
.page_ifail_list_header
{
	font-size:small;
}
.page_ifail_list_retrytext
{
	font-size:xx-small;
}
.page_systemcheck_summary
{
	position:relative;
	height: 30px;
	width:100%;
	margin-top: 25px;	
}
.page_systemcheck_summary_icon
{
	position:absolute;
	width: 10%;
}
.page_systemcheck_summary_textarea
{
	position:absolute;
	width: 90%;
	left: 10%;
}
.page_systemcheck_summary_textbox
{
	width: 95%;
}
.page_systemcheck_summary_text
{
	font-weight: bold;
}
.page_systemcheck_frame
{
	position: relative;
	margin-left: 70px;
	margin-right: 25px;
	height: 70%;
	overflow: auto;
	border:2px solid #4f83a8;
}
.page_systemcheck_rowseperator
{
	width: 98%;
	height: 1px;
	color: Black;
	background-color: Black;
}
.page_systemcheck_row
{
	margin-left:4px;
	margin-top: 2px;
	margin-right: 2px;
}

.page_ptr_products
{
    FONT-SIZE: 8pt;
    height:150px;
    width:590px;
    COLOR: #000000;
    overflow: auto;   
}

.page_ro_summary
{
    FONT-SIZE: 8pt;
    height:75px;
    width:590px;
    COLOR: #000000;
    overflow: auto;  
    PADDING-TOP: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    PADDING-RIGHT: 0px;
    BORDER-RIGHT: #848484 2px solid;
    BORDER-TOP: #848484 2px solid;
    BORDER-LEFT: #848484 2px solid;
    BORDER-BOTTOM: #848484 2px solid;
    MARGIN-TOP: 8px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-BOTTOM: 10px;
}

.page_ro_summary_header
{
    FONT-SIZE: 8pt;
    font-weight: bold;
}

.dialog_box_body
{
    FONT-FAMILY: Verdana, Tahoma;
    font-size: 8pt;
	background-color: #FFFFFF;
    COLOR: #000000;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.dialog_box_footer
{
    FONT-FAMILY: Verdana, Tahoma;
	background-image: url('images/footerBackground.jpg');
	background-repeat: repeat-y;
    font-size: 8pt;
	background-color: #FFFFFF;
    COLOR: #9ab6e0;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.dialog_box_contents
{
    FONT-FAMILY: Verdana, Tahoma;
    font-size: 8pt;
    COLOR: #000000;
    margin-left:25px;
    margin-right:25px;
    margin-top:20px;
    margin-bottom:0px;
}
.dialog_box_button
{
	font-family: tahoma;
	font-size: 8pt;
	padding: 3px 10px 3px 10px;
}
.dialog_box_textarea
{
	font-family: tahoma;
	font-size: 8pt;
}

.header
{
}
.content
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
}

.iframe_content
{
	FONT-SIZE: 8pt;
    COLOR: #000000;
    MARGIN-TOP: 2px;
    MARGIN-RIGHT: 0px;
}

.iframe_content_errors
{
	FONT-SIZE: 8pt;
	COLOR: #000000;
	background-color: #FFFFFF;
}
.tightText
{
	line-height:100%
}
.footer
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
	background-image: url('images/footerBackground.jpg');
	background-repeat: repeat-y;
    FONT-FAMILY: Verdana;
    VERTICAL-ALIGN: bottom;
}
.inactive_tab
{
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #BBBBBB;
    BORDER-TOP: #FFC390 1px solid;
}
.active_tab
{
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #808080;
    BORDER-TOP: #FF6600 1px solid;    
}
.table_cell
{
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 10	
}
.table_cell_help
{
    FONT-SIZE: 8pt;
    MARGIN-BOTTOM: 10	
}
.even
{
    FONT-SIZE: 9pt;
    BACKGROUND-COLOR: #eeeeee
}
.odd
{
    FONT-SIZE: 9pt
}
.message_large
{
    FONT-FAMILY: Verdana, Tahoma;
    font-size: 9pt;
    COLOR: #000000;
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
}
.error_small
{
    FONT-FAMILY: Verdana, Tahoma
    FONT-SIZE: 9pt;
    COLOR: #773333;
}
.option_group_header
{
    FONT-FAMILY: Verdana;
    text-decoration:underline;
    FONT-WEIGHT: 600;
    COLOR: #000000;
    PADDING-BOTTOM:2px;
}
td.packed_options
{
    line-height: 0.9em;
}
td.option_group_header
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    PADDING-BOTTOM:6px;
}
.option_group_header_2
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    PADDING-BOTTOM:6px;
}
.option_group_header_3
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    COLOR: #000000;
}
td.option_group_header_2
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    PADDING-BOTTOM:6px;
}

.option_group_iframe
{
	border: solid 1;
	border-color: #848484;
}

.option_group_iframe_errors
{
	border: solid 1;
	border-color:#000000;
}

.option_group_iframe_contents
{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
.option_group_iframe_contents_errors
{
	background-color: #FFFFFF;
	padding-left: 4px;
	padding-top: 4px;
}

.diagnostics_result
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
td.diagnostics_result
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
padded_bottom
{
    padding-bottom: 4px;
}
td.padded_bottom
{
    padding-bottom: 4px;
}
.option_group_box
{
    border: solid 1;
    border-color: #848484;
    background-color: #F1F1F1;
    padding-left: 4px;
    padding-top: 4px;
}
.available_space_box
{
    border: solid 1;
    border-color: #848484;
    background-color: #FFFFFF;
    margin-top: 5px;
}
.padded_option
{
    padding-left: 20px;
    padding-top: 10px;
}
.space_needed
{
    FONT-SIZE: 8pt;
    COLOR: #303090;
}
.space_available
{
    FONT-SIZE: 8pt;
    COLOR: #009A36;
}
.file_size
{
    FONT-SIZE: 7pt;
}
.installing_header
{
    font-size: 12pt;
    font-weight: bold;
    color: #848484;
}
.installing_group_box
{
    border: solid 1;
    border-color: #848484;
    background-color: #FFFFFF;
    padding-left: 4px;
    padding-top: 8px;
}
.installing_group_box_subitem
{
    FONT-SIZE: 7.5pt;
    COLOR: #808080;
}
.progress_bar
{
    border: solid 1;
    border-color: #A0A0A0;
    background-color: #FFFFFF;
    margin-top: 5px;
}
.dark_button
{
    background-color: #505080;
    border: solid 1;
    border-color: #282840;
    color: #FFFFFF;
    font-size: 8pt;
    font-weight: bold;
}

.underline_button:first-letter{ text-decoration: underline; }

UL.multioption_root
{
	list-style: none;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background: yellow;
}

UL.multioption_menu_hidden
{
	display: none;
	border: 1px solid;
	background-color: #ECE8DD;
}

UL.multioption_menu_visible
{
	position:absolute;
	left: 11px;
	list-style:none;
	display: block;
	border: 1px solid;
	background-color: #ECE8DD;
}	

LI.multioption_root
{
	list-style: none;
	margin-left: -15px;
}

LI.multioption_menu
{
	/*border: thin solid #ECE8DD;*/
}

LI.multioption_menu_over
{
	/*border: thin solid #A0D2E6;*/
	background-color: #A0D2E6;
}

.multioption_select
{
	/*background-color: #ECE8DD;*/
}

.billboard
{
	font-family: Verdana;
	position: relative;
	top: -50%;
}

div.billboard_text
{
	position: absolute;
	left: 40%;
	top: 50%;
	width: 416px;
	font-family: Verdana;
}

div.billboard_progress
{
	text-align: center;
	padding-top: 1%;
}

div.billboard_overall
{
	position: relative;
	top: 5%;
	left: 3%;
}

div.billboard_top
{
	position: absolute;
	height: 159px;
	width: 694px;
	border-top: solid 1 #848484;
	border-left: solid 1 #848484;
	border-right: solid 1 #848484;
}

div.billboard_bottom
{
	background-image:url('images/billboards_bg.jpg');
	position: absolute;
	top: 159px;
	height: 120px;
	width: 694px;
	border-bottom: solid 1 #848484;
	border-left: solid 1 #848484;
	border-right: solid 1 #848484;
}

div.toolbox-left
{
	position:absolute;
	top: 0;
	padding-left:5%;
	padding-right:1%;
	padding-top: 5%;
	margin-left:0;
	margin-right:0;
	left:0%;
	width:60%;
}

div.toolbox-right
{
	position:absolute;
	top: 0;
	padding-left:1%;
	padding-right:5%;
	padding-top: 15%;
	margin-left:0;
	margin-right:0;
	right:1%;
	width: 40%;
	height: 95%;
}

#more_box
{
	position: absolute;
	display: block;
	right: 10px;
	bottom: 5px;
}	
